.signUp tr {
  text-align:center;
  font-size:11px;
 
}
.header{
 width: 1004px;
 height:132px;
 margin: 0 auto;	
 background-color:#66A928;
 overflow:hidden;
}
.signUp{
  float: right;
  width: 252px; 
  padding-top: 8px;
  padding-right: 8px;
}
.signUp label{
 font-weight:bold;  
}
.signUp a{
  color:#000; 
}
.logo_header{
  width:287px;
  height:132px;
  float:left;
}
.logo2_header{
  width:  450px;
  height:132px;
  float: left;
}
